#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 70px;
}

#wrap div {
    margin: auto;
    text-decoration: none;
}

.wrap_btn {
    background-color: red;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}


