.banner {
    color: white;
    padding-top: 202px;
    max-width: 100%;
    height: 448px;
}

.banner_contents {
    margin-left: 50px;
    padding-top: 5px;
    text-shadow: 3px 3px 15px black;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
}

.banner_description {
    width: 45rem;
    line-height: 1.3;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
    padding-bottom: 200px;
}

.fade_banner {
    height: 7.4rem;
    margin-top: -115px;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}

@media (min-width: 320px) {
    .banner {
        max-width: 100%;
        height: 345px;
    }

    .banner_title {
        font-size: 1.2rem;
    }

    .banner_contents {
        margin-top: 120px;
        margin-left: 20px;
    }

    .banner_description {
        width: 20rem;
        line-height: 1;
        font-size: 0.6rem;
        max-width: 200px;
    }
}

@media (min-width: 480px) {

    .banner_title {
        font-size: 1.3rem;
    }

    .banner_contents {
        margin-left: 20px;
    }

    .banner_description {
        width: 20rem;
        line-height: 1;
        font-size: 0.75rem;
        max-width: 420px;
    }
}


@media (min-width: 760px) {
    .banner {
        max-width: 100%;
        height: 298px;
    }

    .banner_title {
        font-size: 1.8rem;
    }

    .banner_contents {
        margin-left: 20px;
        margin-top: 0px;
    }

    .banner_description {
        line-height: 1;
        font-size: 1rem;
        margin-top: -20px;
    }
}

@media (min-width: 960px) {
    .banner {
        max-width: 100%;
        height: 448px;
    }

    .banner_title {
        font-size: 2rem;
        padding-top: 40px;
    }

    .banner_contents {
        margin-left: 20px;
        padding-top: 60px;

    }

    .banner_description {
        width: 100%;
        font-size: 1.1rem;
        margin-top: -20px;
    }
}