header {
    padding: 0.1rem;
    background-color: #221F1F;
    color: #221F1F;
}

.navbar {
    text-align: right;
    padding-right: 1rem;
    padding-top: 5px;
}

.navbar ul li {
    display: inline-block;
    padding: 0 10px;
}

.nav-link {
    color: #E50914;
    text-decoration: none;
    float: right;
    font-size: 24px;
    transition-duration: 0.4s;
}

.nav-link:hover {
    transform: scale(1);
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: #E50914;
    transition: width .2s ease;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
    background: #E50914;
}

.title {
    font-size: 2.1rem;
    float: left;
    color: #E50914;
    text-decoration: none;
    padding: 1rem 2rem;
    transition-duration: 0.4s;
}

.title:hover {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .navbar {
        text-align: left;
    }

    .navbar ul li {
        display: inline-block;
        padding: 0;
    }

    .nav-link {
        float: none;
        font-size: 20px;
    }

    .title {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        text-align: left;
    }

    .navbar ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .nav-link {
        float: none;
        font-size: 22px;
    }

    .title {
        font-size: 2rem;
        padding-top: 25px;
    }
}

@media (max-width: 320px) {
    .nav-title{
        font-size: 1.7rem;
    }

    .navbar ul li {
        padding: 0;
    }

    .nav-link {
        font-size: 16px;
    }

    .title {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .nav-title{
        font-size: 1.9rem;
        text-align: center;
    }

    .navbar ul li {
        padding: 0;
    }

    .nav-link {
        font-size: 18px;
    }

    .title {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
    }
}


