.register-wrapper {
    background-image: url(https://bit.ly/2E3scwW);
    background-repeat: no-repeat;
    background-position: center center;
    height: 597px;
    padding-top: 40px;
}

.register {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    width: 300px;
    height: 400px;
    padding: 50px 70px;
    margin: auto;
}

.register-title {
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.register-group {
    position: relative;
    z-index: 10;
    display: flex;
}

.register-label {
    position: absolute;
    z-index: 150;
    color: #b3b3b3;
    font-size: 0.9rem;
    top: 30px;
    left: 18px;
    transition: all 300ms ease-in;
}

.register-input {
    width: 100%;
    position: relative;
    z-index: 100;
    background: #333;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 1rem;
    color: #fff;
    line-height: 50px;
    padding: 12px 18px 0;
}

.register-btn {
    padding: 16px;
    color: #fff;
    background: #e50914;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.register-btn:hover {
    font-size: 1.1rem;
    padding: 15px
}

::-moz-placeholder {
    font-size: 0.7rem;
}

:-ms-input-placeholder {
    font-size: 0.7rem;
}

::placeholder {
    font-size: 0.7rem;
}

@media (min-width: 320px) {
    .register-wrapper {
        height: 64vh;
        padding-top: 38px;
    }

    .register {
        width: 200px;
        height: 330px;
        padding: 30px 50px;
    }

    .register-title {
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
    }

    .register-input {
        margin-bottom: 12px;
        font-size: 0.8rem;
        line-height: 40px;
        padding: 15px 18px 0;
    }

    .register-btn {
        padding: 10px;
        font-size: 0.8rem;
    }

    .register-btn:hover {
        font-size: 1.1rem;
        padding: 15px
    }
}

@media (min-width: 480px) {
    .register-wrapper {
        height: 80vh;
        padding-top: 90px;

    }
    .register {
        width: 250px;
        height: 340px;
    }

    .register-title {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }

    .register-input {
        margin-bottom: 20px;
        font-size: 1rem;
        padding: 12px 20px 0;
    }

    .register-btn {
        padding: 12px;
        font-size: 1rem;
    }

    .register-btn:hover {
        font-size: 1.1rem;
        padding: 15px
    }
}

@media (min-width: 760px) {
    .register {
        width: 300px;
        height: 360px;
    }

    .register-title {
        font-size: 2rem;
    }

    .register-btn {
        padding: 15px;
        font-size: 1rem;
    }

    .register-btn:hover {
        font-size: 1.1rem;
        padding: 15px
    }
}

@media (min-width: 980px) {
    .register {
        width: 320px;
        height: 360px;
    }

    .register-title {
        font-size: 2rem;
    }

    .register-btn {
        font-size: 1.1rem;
    }
}