.login-wrapper {
    background-image: url(https://bit.ly/2E3scwW);
    background-repeat: no-repeat;
    background-position: center center;
    height: 568px;
    padding-top: 80px;
}

.login {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    width: 300px;
    height: 350px;
    padding: 50px 70px;
    margin: auto;
}

.login-title {
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}

.login-group {
    position: relative;
    z-index: 10;
    display: flex;
}

.login-label {
    position: absolute;
    z-index: 150;
    color: #b3b3b3;
    font-size: 0.9rem;
    top: 30px;
    left: 18px;
    transition: all 300ms ease-in;
}

.login-input {
    width: 100%;
    position: relative;
    z-index: 100;
    background: #333;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 1rem;
    color: #fff;
    line-height: 50px;
    padding: 12px 18px 0;
}

.login-input:focus+.login-label {
    top: 15px;
    font-size: 0.7rem;
}

.login-btn {
    padding: 16px;
    color: #fff;
    background: #e50914;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

::placeholder {
    font-size: 0.7rem;
}

@media (min-width: 320px) {
    .login-wrapper {
        height: 55vh;
    }

    .login {
        width: 200px;
        height: 250px;
        padding: 30px 50px;
    }

    .login-title {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .login-input {
        margin-bottom: 10px;
        font-size: 0.8rem;
        line-height: 30px;
        padding: 10px 18px;
    }

    .login-btn {
        padding: 10px;
        font-size: 0.8rem;
    }
}

@media (min-width: 480px) {
    .login-wrapper {
        height: 61vh;
        padding-top: 70px;
    }

    .login {
        width: 250px;
        height: 300px;
        padding: 30px 50px;
    }

    .login-title {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }

    .login-input {
        margin-bottom: 12px;
        font-size: 1rem;
        padding: 10px 20px;
    }

    .login-btn {
        padding: 15px;
        font-size: 1rem;
    }

}

@media (min-width: 760px) {
    .login-wrapper {
        height: 62vh;
        padding-top: 70px;
    }

    .login {
        width: 300px;
        height: 300px;
        padding: 30px 50px;
    }

    .login-title {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .login-input {
        margin-bottom: 20px;
        font-size: 1rem;
        padding: 12px 20px;
    }

    .login-btn {
        padding: 15px;
        font-size: 1.1rem;
    }
}

@media (min-width: 960px) {
    .login-wrapper {
        height: 64vh;
        padding-top: 50px;
    }
    .login {
        width: 350px;
        height: 320px;
        padding: 40px 50px;
    }

    .login-title {
        margin-bottom: 15px;
    }

    .login-btn {
        padding: 15px;
        font-size: 1.2rem;
    }
}