body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(min-width: 320px) {
  .notification {
    margin-top: 110px;
    font-size: 11px;
  }
}

@media(min-width: 480px) {
  .notification {
    margin-top: 55px;
    font-size: 14px;
  }
}

@media(min-width: 760px) {
  .notification {
    margin-top: 55px;
    font-size: 14px;
  }
}