.add_movie_wrapper {
    object-fit: contain;
    color: rgb(255, 255, 255);
    background: linear-gradient(-60deg, rgb(44, 41, 41), #e50914);
    padding-top: 40px;
    padding-bottom: 20px;
}

.add_movie_form {
    display: flex;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    margin: 10px 200px;
    padding: 55px 130px;
}

.add_movie_form h1 {
    font-size: 26px;
    margin-bottom: -5px;
}

.form_title {
    text-align: center;
    font-size: 45px;
    margin-top: 3px;
    margin-bottom: -95px;
}

.left_movie_section {
    float: left;
    padding-right: 50px;
}

.right_movie_section {
    float: right;
}

.form-control {
    width: 26vw;
    height: 40px;
    border-radius: 8px;
}

.form-control_special {
    height: 137px;
    width: 26vw;
    border-radius: 8px;
}

.form-control::-webkit-input-placeholder {
    font-size: 16px;
}

.form-control_special::-webkit-input-placeholder {
    font-size: 16px;
    text-align: center;
}

.btn_submit {
    font-size: 22px;
    color: white;
    background-color: #e50914;
    border-radius: 6px;
    height: 60px;
    width: 200px;
    margin-top: 420px;
    margin-left: -540px;
    transition: 0.4s;
}

.btn_submit:hover {
    font-size: 26px;
}