#all_movies {
    background-color: #221F1F;
    margin-top: -24px;
    padding-bottom: 10px;
}

#title {
    text-align: center;
    padding-top: 30px;
    font-size: 37px;
    color: white;
}

.search_div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search {
    border: 3px solid #333;
    border-right: none;
    padding: 5px;
    margin-bottom: 20px;
    height: 34px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #333;
}

.searchButton {
    width: 60px;
    height: 50px;
    border: 1px solid #333;
    background: #333;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.searchButton .fa {
    margin: -15px;
    font-size: 14px;
}

.movie-addict-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-addict-movies h1{
    color: white;
}

.all-added-movies img {
    width: 286px;
    height: 380px;
    transition: 0.4s;
    padding-left: 8px;
}

.all-movies-image:hover {
    transform: scale(1.07);
}

@media (max-width: 480px) {
    .all-added-movies img {
        width: 156px;
        height: 250px;
        transition: 0.4s;
        padding-left: 8px;
    }
}

@media (max-width: 960px) {
    .all-added-movies img {
        width: 256px;
        height: 350px;
        transition: 0.4s;
        padding-left: 8px;
    }
}